<div class="uk-container-large ">
    <div class="uk-animation-slide-right">
        <h1 class="centerMe uk-overlay uk-overlay-default">Article Notes</h1>
    </div>
    <div class="uk-animation-slide-left">
        <h5 class="uk-overlay uk-overlay-default">Your personal thoughts/notes</h5>
    </div>
</div>

<div class="uk-container">
    <div class="uk-grid">
        {{#each articleData}}
        <div class="uk-width-4-4">
            <div class="uk-card uk-card-secondary uk-card-body noteCard">
                <h3 class="uk-card-title">{{this.note}}</h3>
                <a href="/noteDeleter/{{this._id}}"><button class="uk-button uk-button-danger getNotes carder">Delete Note</button></a>
            </div>
        </div>
       
        {{/each}}
    </div>
</div>
